<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TelstraAssignment_ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3C7B1A920ABF4AD0015CE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C7B1C220ABF4AE0015CE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C7B1CD20ABF4AE0015CE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
